.uploadPage{
    background: #eee;
    width: 100%
}
.UploadFile{
    // margin-top: 200px;
    // margin-left: 50%;
    // background: #eee;
    margin-top: 50px;
    /* margin-left: 39%; */
    background: #eee;
    width: 100%;
    text-align: center;
}
.rabo_logo{
    max-height: 100px;
}
.raboHeader{
    background: #eee;
}
.headerbutton{
    border: 0px;
    font-size: medium;
}
// .table{
//     align: center;
// }
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }